* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

header {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: rgb(36,41,47);
}

header svg {
  fill: white;
  min-width: 32px;
  cursor: pointer;
}

header svg:hover {
  opacity: 0.7;
}

form {
  position: relative;
  margin-left: 16px;
  max-width: 420px;
  width: 100%;
}

form input {
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
  background-color: rgb(36,41,47);
  border: 1px solid rgb(87,96,106);
  border-radius: 6px;
  outline: none;
  color: white;
}

.active-inp {
  color: rgb(36,41,47);
  background-color: rgb(246,248,250);
  border-radius: 6px 6px 0 0;
  border-bottom: none;
}

form input::placeholder {
  color: rgb(200,201,203);
}

form input:disabled {
  opacity: 0.8;
}

.users-list {
  position: absolute;
  margin-left: 1px;
  width: calc(100% - 2px);
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(208,215,222);
  border-radius: 0 0 6px 6px;
  border-top: none;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  header {
    display: block;
    text-align: center;
  }

  form {
    margin-left: 0;
    margin-top: 10px;
  }
}
